:root {
    --white: #ffffff;
    --grey-a: #f1f1f3;
    --grey-b: #dee0e3;
    --grey-c: #c9cccf;
    --grey-d: #a9adb2;
    --grey-e: #808589;
    --grey-f: #555b61;
    --blue-a: #F0F5FF; 
    --blue-b: #B4CAFF;
    --blue-c: #5D88FF; 
    --blue-d: #152C70;  
    --sxs: 4px;
    --ss: 8px;
    --sm: 12px; 
    --sl: 16px;
    --sxl: 20px;
    --2sxl: 24px;
    --2sxl2: 28px;
    --3sxl: 32px;
    --4sxl: 40px;
    --5sxl: 48px;
    --6sxl: 52px;
    --txt-a: 400;
    --txt-b: 500;
    --p16: 16px;
    --p14: 14px;
    --s14: 14px;
    --s12: 12px;
    --backgroundrey: 1px solid var(--grey-b);
}